fastparquet
pyarrow
snappy
python-snappy
transformers
jionlp>=1.4.40
emoji>=2.2
pandas>=1.4.1
simhash>=2.1.2
datasets>=2.12.0
jieba>=0.42.1
numpy>=1.23.5
regex>=2022.7.9
scipy>=1.10.0
gensim>=4.3.0
datasketch>=1.5.9
pyspark
datasets
pybind11
nltk
tensorboard
transformers_stream_generator
wandb
openpyxl
gradio